@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body {
    background-color: black;
    color: white;
}

.close{
    display: none;
}

.container {
    height: 100vh; /* Set container height to viewport height */
    overflow: hidden; /* Hide overflow content */
}
.left {
    width: 25vw;
    padding: 10px;
    height: 75vh;
}

.right {
    width: 75vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size:13px ;
}

.heading img {
    width: 30px;
    position: relative;
}

.library{
    height: 77.7vh;
    position: relative;
}


.footer{
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
}

.footer a{
    color: grey;
    position: relative;
}


.right{
    position: relative;
    margin: 16px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 72px;
}

.header > *{
    padding: 20px;
}

.cardContainer {
    display: flex;
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.spotifyPlaylists {
    padding: 20px;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #272727;
    position: relative;
    transition: all 0.2s;

}
.card:hover{
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}
.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #00FF00;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.card:hover .play{
    opacity: 1;
    top: 168px;
}


.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 16px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    background-color: black;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content:center;
    gap: 16px;
}
.songbuttons> img {
    filter: invert(1);
}

.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.songList ul{
    padding: 0 12px;

}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13.5px;
    width: 344px;
    text-wrap: balance;
}
.info div {
    word-break: break-all;
}

.playnow{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}


.playnow span {
    font-size: 15px;
    width: 100px;
    padding: 10px;
}

.seekbar {
    position:absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 97%;
    border: 1px solid white;
    border-radius: 20px;
    margin: 12px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 5.4px;
    left: 0%;
    transition: left 0.3s;
}

.songbuttons img{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

.songtime {
    width: 125px;
    padding: 0 12px;
}



@media (max-width:1444px){
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.4s;
        z-index: 1;
        width: 374px;
        margin: 0px;
        height: 100vh;

    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;

    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: calc(100vw - 60px);
    }
    
    .seekbar{
        width: calc(100vw - 70px);
    }
    .hamburger {
        display: block;
        filter: invert(1);
    }
    .card{
       width: 100vw;
    }

    .close{
        display: block;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    
  
}